.purple-hero {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px 100px;
  grid-gap: "60px";
  background-color: #52246d;
  position: relative;
}
.purple-hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.purple-hero-heading {
  color: #a36f4a;
  font-size: 36px;
  margin-bottom: -10px;
}

.purple-hero-subheading {
  font-size: 18px;
  color: #fff;
}
.purple-hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 100%;
  width: 100%;
  position: relative;
}
.purple-hero-img {
  width: 100%;
  animation: expandWidth 1s ease-out;
  z-index: 2;
}
.blob-img {
  background-image: url(../assets/blob.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30%;
  height: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
@keyframes expandWidth {
  from {
    width: 0;
  }
  to {
    width: 101%;
  }
}
@media (max-width: 920px) {
  .purple-hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40% 20px 0px 20px;
    gap: "180px" !important;
  }
  .purple-hero-left {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: self-start;
    height: 100%;
    margin-bottom: 100px;
  }
  .purple-hero-heading {
    color: #a36f4a;
    font-size: 46px;
    margin-bottom: -08px;
  }
  .purple-hero-subheading {
    font-size: 16px;
    color: #fff;
  }
  .purple-hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
    position: relative;
  }

  .blob-img {
    background-image: url(../assets/blob.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 40%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0 !important;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.contactus-hero {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
  padding-top: 30px;
  background-color: #52246d;
  position: relative;
}
.contact-blob-img {
  background-image: url(../assets/blob.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16%;
  height: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.aboutus{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px;
  grid-gap: 30px;
}
.about-card{
  border: #52246d solid 2px;
  border-radius: 8px;
  padding: 30px;
}
.about-card p{
  color: #7a7a7a;
}
.about-card img{
  background-color: #2FB67E;
  padding: 15px;
  border-radius: 50%;
  margin-top: -80px;
}
.about-card img.img2{
  background-color: #DD2590;
}
.about-card img.img3{
  background-color: #A36F4A;
}
.about-contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:50px 100px;
  background-color: #f7f9fc;
}
.about-contact h3{
  font-weight: 500;
  width: 40%;
}

.team{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
.team h2{
  margin-bottom: 0;
}
.team-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin: 50px auto;
}
.team-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-card img.team-img{
  width:250px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.team-card p.first{
  font-weight: 600;
  margin-bottom:0px;
  padding-bottom: 0px;
  font-size: 14px;
  color: #52246d;
}
.team-card p.second{
  font-weight: 500;
  font-size: 15px;
  color: #52246d;
}
.team-social{
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.team-social img{
  width: 20px;
}