.purple-hero {
    height: 100vh;    
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    padding: 0px 100px;
    grid-gap: '60px';
    background-color: #52246d;
    position: relative;
  }
  .purple-hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .purple-hero-heading {
    color: #a36f4a;
    font-size: 36px;
    margin-bottom: -10px;
  }

  .purple-hero-subheading {
    font-size: 18px;
    color: #FFF;
  }
  .purple-hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 100%;
    width: 100%; position: relative;
  }
  .purple-hero-img {
    width: 100%;
    animation: expandWidth 1s ease-out;
    z-index: 2;
  }
  .blob-img{
    background-image: url(../assets/blob.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  @keyframes expandWidth {
    from {
      width: 0;
    }
    to {
      width: 101%;
    }
  }
  @media (max-width: 920px) {

    .purple-hero{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 40% 20px 0px 20px;
      gap: '180px' !important;
    }
    .purple-hero-left  {
      display: flex;
      flex-direction: column;
      justify-content: baseline;
      align-items: self-start;
      height:100%;
      margin-bottom: 100px;
    }
    .purple-hero-heading  {
      color: #a36f4a;
      font-size: 46px;
      margin-bottom: -08px;
    }
    .purple-hero-subheading {
      font-size: 18px;
      color: #fff;
    }
    .purple-hero-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      height: 100%;
      width: 100%;
      padding-bottom: 50px;
      position: relative;
    }

    .blob-img{
      background-image: url(../assets/blob.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 30%;
      height: 40%;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0 !important;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }}